.followerslist-container {
    background-color: white;
    margin-top: 2rem;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.329);
    height: 50vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
}

.follower-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: .05rem solid rgba(0, 0, 0, 0.082);
}
.followers-details {
    margin-left: 1.25rem;
    display: inline-block;
    flex-direction: column;
    align-items: center;
}

.followers-details p {
    margin: 0;
}

.follower-item-name {
    display: flex;
}

.follower-item-name h4 {
    display: flex;
    height: 30px !important; 
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.follower-item img {
    border-radius: 50%;
    width: 4rem
}